# Environment & Secrets
.env
*.env
firebase-credentials.json
*.json.secret

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/
.npm/

# Database
*.sqlite3
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# # Documentation
# *.md   # Prevents Markdown (.md) files from being pushed to GitHub